body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5e6;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.content-wrapper {
    display: flex;
    max-width: 1700px;
    margin-top: 20px;
}
.sidebar {
    width: 20%;
    max-width: 400px;
    min-width: min-content;
    padding: 20px;
    box-sizing: border-box;
}
.main-content {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}
.card h2 {
    color: #ff6600;
}
.project-subcard {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.profile-image {
    width: 100%;
    height: auto;
}
.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.project-tags {
    margin: 10px 0;
}
.project-tags span {
    background-color: #ffcc99;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.9em;
}
.profile-title {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    margin-top: 5;
}
.my-name {
    font-size: 1.5em;
    text-align: center;
    color: #ff6600;
    margin-bottom: 0;
}
.center-h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
a span {
    text-decoration: underline;
    color: blue;
}
a i {
    color: inherit;
}
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .sidebar, .main-content {
        width: 100%;
    }
}
.job-details {
    display: flex;
    align-items: center;
}

.job-info {
    margin-left: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.company-logo {
    width: 75px;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}
.job-title,
.job-date,
.job-location {
    margin: 0;
}
.job-description-list li {
    margin-bottom: 5px;
}
#achievements-list li {
    margin-bottom: 5px;
}
#resume {
    margin: 5px auto;
}